@import "variables";
@import "node_modules/bootstrap/scss/bootstrap";

.form-signin {
  input {
    &[type="email"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    &[type="password"] {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}