.search-body {
    .list-group-filtereds-wrapper {
        z-index: 1;
        .list-group-filtereds {
            max-height: 200px;
            overflow-y: auto;
        }
    }
    .icons-search-input {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        left: auto;
        .close-btn {
            display: none;
        }
        .down-btn {
            margin-top: -0.3rem;
        }
    }
    input[type=text] {
        &:invalid,
        &.is-valid,
        &.is-invalid {
            & ~ .icons-search-input {
                right: $spacer * 2;
            }
        }
    }
    &.active {
        .icons-search-input {
            .close-btn {
                display: block!important;
            }
            .down-btn {
                display: none!important;
            }
        }
    }
}